footer {
	background-color: $ceti-grey;
	color: $white;
	p {
		color: $white;
	}
	svg {
		background-color: $white;
		fill: $ceti-orange;
		padding: 1rem;
		&:hover{ 
			fill: $white;
			background-color: $ceti-orange;
		}
		margin-right: 1.6rem;
	}
}