footer {
	background-color: $drk-bkgrnd-color;
	color: #fff;
	div {
		width: 60%;
		margin: auto;
		padding: 8rem 0;
	}
	svg {
		background-color: #fff;
		fill: $drk-bkgrnd-color;
		padding: 1rem;
		&:hover{ fill: $ceti-green;}
		margin-right: 1.6rem;
	}
}