/* LAYOUT */

main { width: 100%; }
section {
	div {
		width: 90%;
		margin: auto;
		padding: 4rem 0;
	}
	nav {
		margin:0;
		height: 7rem;
		a {text-decoration: none;}
		ul {
			list-style-type: none;
			display: flex;
		}
		li { padding-right: 6.5rem;}
	}
	&.light { 
		background-color: $white;
	}
	&.dark { 
		background-color: $mid-bkgrnd-color;
		color: $white;
		h1, h2, h3, h4, p, a { color: $white; }
	}
	&.linear {
		background: linear-gradient(270deg, #4FE5FE 0%, #1333D3 82.86%);
		color: $white;
		h1, h2, h3, h4, p, a { color: $white; }
		nav {
			background-color: $ceti-blue;
			a {color: $white;}
			a:hover {color: $ceti-green;}
		}
	}
	&.gof {
		background-color: $gof-pink;
		color: $white;
		h1, h2, h3, h4, p { color: $white; }
		nav {
			background-color: $ceti-yellow;
			a {color: $ceti-blue;}
			a:hover {color: $ceti-orange;}
		}
	}
	&.midgrey {
		background-color: $ceti-midgrey;
		color: $white;
		h1, h2, h3, h4, p { color: $white; }
	}
}
#devicesNeeded {
	line-height: 2.8rem;
	ul, ol li {
		margin-top: 2.6rem;
	}
	.sublist {
		margin-left: 2.8rem;
		li {margin-top: 1.1rem;}
		ul { margin-left: 2.8rem;}
	}
}


@media only screen and (min-width: 768px) {
	section, footer {
		div {
			width: 70%;
			margin: auto;
			padding: 8rem 0;
		}
		.subnav {
			width: 70%; 
			margin: auto;
			padding-top: 20px;
		}
	}
}