/* VARIABLES */

$primary-color: #1333D3;
$secondary-color: #6DFF70; /* bright green */
$tertiary-color: #4FE5FE; /* light blue */
$link-lt-color: #1333D3;
$link-lt-hov-color: #6DFF70;
$link-drk-color: #6DFF70;
$link-drk-hov-color: #4FE5FE;
$drk-txt: #222222;
$drk-bkgrnd-color: rgba(0, 15, 189, 1); /* footer color, dark blue background */
$mid-bkgrn-color: #2E4DDF;
$error-color: #E5450A;
$mid-gray-color: #99ADAD;