/* VARIABLES */

$ceti-blue: #1333D3;
$ceti-yellow: #F7E332;
$ceti-orange: #E5450A;
$ceti-green: #6DFF70; /* bright green was secondary-color */
$ceti-black: #222;
$ceti-grey: #555;
$ceti-midgrey: #99ADAD;
$gof-pink: #FF3464;
$white: #fff;
$tertiary-color: #4FE5FE; /* light blue */
$link-lt-color: #1333D3;
$link-lt-hov-color: #6DFF70;
$link-drk-color: #6DFF70;
$link-drk-hov-color: #4FE5FE;
$drk-bkgrnd-color: rgba(0, 15, 189, 1); /* footer color, dark blue background */
$mid-bkgrnd-color: #2E4DDF;
$btn-blu: #000FBD;
$gof-blue: #0047FF; /* why can't we just use the same blue damnit */